@import "@assets/styles/Vars.scss";

.searchBar {
  display: flex;
  margin-left: 3rem;
  width: 80%;
  height: 5rem;
  margin-bottom: 30px;
  & input {
    width: 100%;
    border: none;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    padding-left: 2rem;
    font-size: 1.8rem;
    color: $color-darkgrey;
  }
  & input:focus {
    outline: none;
  }
  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    & img {
      height: 2.5rem;
      margin: 1rem;
    }
  }
}

.resultBody {
  display: flex;
  font-family: $theme-font;
  margin: auto;
  width: 50%;
  border: 3px solid black;
}
