.code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    width: 80%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    margin-left: 10%;

    & img {
        max-width: 90%;
    }
}

.title {
    margin-left: 10%;
    width: 80%;
    margin-bottom: 30px;
}