@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
//COLORS
$color-brand: #ffe600;
$color-button: #3483FA;
$color-background: #eeeeee;
$color-darkgrey: #333333;
$color-grey:#666666;
$color-lightgrey: #999999;

//TYPOGRAFY
$theme-font: "Roboto", "sans-seri";
